@import url(https://fonts.googleapis.com/css?family=Sawarabi+Mincho);
@import url(https://fonts.googleapis.com/earlyaccess/hannari.css);


/*   prevent small screen font size inflation */

body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

p, h1, h2, h3, h4 {
  font-family: 'Sawarabi Mincho';
  font-size: 200%;
}

.english {
  font-size: 60%;
  visibility: hidden;

}

.smaller {
  
  font-size: 75%;
  
}

.show-english {
  
  transform: translateY(-60px);
  font-size: 180%;
  
}

.top {
  
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  padding: 20px;
  border: 2px #ddd dashed;
  border-radius: 10px;
  background-color: #eee;
  font-size: 200%;
  font-family: 'Sawarabi Mincho';
}

.title-slide .remark-slide-number {
  display: none;
}

.next, .previous {
  
 font-size:150%;
  color: #555;
  border-radius: 7px;
  width: 40px;
  text-align: center; 
  opacity: 0.3;
}

.next {
  
  position: absolute; 
  left: 93%; 
  top: 85%; 
  
}


.previous {
  
  position: absolute; 
  left: 3%; 
  top: 85%; 
  
}
