@import url(https://fonts.googleapis.com/css?family=Sawarabi+Mincho);
@import url(https://fonts.googleapis.com/earlyaccess/hannari.css);


/*   prevent small screen font size inflation */

body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-family: 'Sawarabi Mincho';
}

.title-slide .remark-slide-number {
  display: none;
}

.remark-slide-content h1 {
  font-size: 350%;
}

.remark-slide-content h3 {
  font-weight: normal;
  font-size: 300%;
}

.remark-slide-content > p:first-of-type {
  font-size: 250%;
  margin-block-end: 0;
}


.show-english, .grammar-note {
/*  transform: translateY(-60px); */
  font-size: 100%;
  margin-top: 25px;
}

.english, .grammar {
  visibility: hidden;
}

.grammar {
  text-align: left;
}

.grammar em {
  color: #999;
}

.sound {
  margin-top: 0;
  width: 400px;
  /* transform: translateY(-100px);  */
}

.smaller {
  font-size: 73%;
  line-height: 0.8;
}

.top {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  padding: 20px;
  border: 2px #ddd dashed;
  border-radius: 10px;
  background-color: #eee;
  font-size: 200%;
  font-family: 'Sawarabi Mincho';
}

.title-slide .remark-slide-number {
  display: none;
}

.next, .previous {
  font-size:150%;
  color: #555;
  border-radius: 7px;
  width: 40px;
  text-align: center; 
  opacity: 0.3;
}

.next {
  position: absolute; 
  left: 93%; 
  top: 85%; 
}


.previous {
  position: absolute; 
  left: 3%; 
  top: 85%; 
}
